---
#header stuff
---
<!--<?php
	session_start();
?>-->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description" content = "The vision of Verdant Life."/>
  <title>About | Verdant Life</title>
  <link rel="stylesheet" type="text/css" href="../styles/stylesheet.css">

   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110049631-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-110049631-2');
</script>
<style>
#article-container {
	width: 70%;
	margin: auto;
	margin-top: 10%;
}
p, li {
	font-size: 15pt;
}
p, h1, h2{
	font-family: Trebuchet MS, Helvetica, Arial, sans-serif;
}
#article-container img {
	width: 100%;
}
@media screen and (max-width: 600px) {
	#article-container {
		width: 95%;

	}
}
</style>
</head>
<body>

    {% include header.html %}

  <div id="article-container">
    <div class="article-heading">
      <h1>The Verdant Life Manifesto</h1>
      <h2>The what, why, and how of verdantlife.org</h2>
    </div>
    <img title="Healthy vegetables" alt="Vegetables on a white background" src="../sources/veggies.jpg"/>

    <p>In today’s world, online health startups pop up left and right like gophers emerging from their
    burrows on a sunny spring morning. As quickly as they come, these websites are revealed to be awfully
    similar to the rest. Coming from a team that developed an online health website and extensively researched
    the industry, this can be said quite empirically. </p>

    <p>In truth, this website is not an exception.</p>

    <p>Many of the Verdant Life software tools have counterparts across the online health industry.
    Tools like our nutrition calculator and nutrition data analysis can be found all over the web. The key
    difference comes down to philosophy. It’s not about what we do, per se; it’s about how and why we do
    it. The values of verdantlife.org, in a nutshell, are as follows:</p>

	<ol>
	  <li>Health is Verdant. The green used on this site symbolizes the value we place on growth and
	  nature. Verdant, defined as meaning rich in vegetation, describes a place of boundless luxuriance.
	  The image of that richness of life is what we continually aspire to.</li>
	  <br>
	  <li>Health does not come from numbers, but from diversity. Living a healthy life requires a
	  much larger variety of nutrients than science can reasonably research and than people have the
	  time to understand. Therefore, we do not purport to offer anything approaching “all” the nutrients,
	  because that is simply unfeasible. Rather, we hope that being informed about one’s nutrition on the
	  macro level can help sketch out the guidelines for living a healthy life. </li>
	  <br>
	  <li>Health of mind and health of body are interdependent and inseparable. Much has been written about
	  the effects of a fit body on shaping a positive mind. Less mentioned is the way a healthy mind can
	  buoy a person’s physical health. Here at Verdant Life, we consider both relations are equally important;
	  thus, our Verdant Review articles are a bid to enrich the minds of the reader, whether in seriousness or levity.</li>
	  <br>
	</ol>

	<p>In the grand scheme of things, we here at the Verdant Life development team cannot boast to be the
	best website ever or to have the best software ever. Ultimately, we are just ardent believers in a way of life.</p>

	<p>Welcome to the Verdant Life.</p>

  </div>

    {% include footer.html %}

 <!--<?php include 'footer.php' ?>-->
</body>
</html>
