<div class="topnav">
  <a href="index.html" id="header-logo"><img src="sources/verdant-life-logo.png"></a>
  <div class="right-align">
<a href="about-nutrition.html">About</a>
  <a href="nutrition-calculator.html">Nutrition Calculator</a>
  <!--    SEARCHBAR IN HEADER - NOT CURRENTLY USED
  <input id="nutrition-search-bar" type="text" placeholder="Search for a food..." >-->
  <!--<?php
  $currentpage = $_SERVER['REQUEST_URI'];
  if(isset($_SESSION['loggedin']) && $_SESSION['loggedin'] == true) {
    echo '<a href="dashboard.php">Dashboard</a>
    <a href="logout.php">Log out</a>';
  } else {
    echo '<a href="login.php?from='.$currentpage.'">Log in</a>
    <a href="register.php?from='.$currentpage.'">Sign up</a>';
  }

  ?>-->
  <div class="menu-icon" onclick="openMenu(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
  </div>
</div>
<style>
/* top navigation bar */
.topnav {
position: fixed;
background: none;
width: 100%;
left: 0;
top: 0;
opacity: .95;
z-index: 100;
padding: 10px 5px;
animation-name: returntonormalopacity;
animation-duration: 0.4s;

}

/* Style the links inside the navigation bar */
.topnav a {
color: #f2f2f2;
padding: 14px 16px;
text-decoration: none;
text-align: center;
font-size: 17px;
color: black;
-moz-user-select: -moz-none;
-khtml-user-select: none;
-webkit-user-select: none;

/*
  Introduced in IE 10.
  See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
*/
-ms-user-select: none;
user-select: none;
}
.right-align {
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}
.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}

#topnav-centeritems {
	text-align: center;
}
/* Add a color to the active/current link */
.topnav a:not(#header-logo):hover {
  /*text-shadow: 1px 1px 2px rgb(0, 255, 162);*/
 border-bottom: 5px solid rgb(0, 255, 162);
 text-shadow: none;
}

.topnav-scrolling {
  background-color: rgba(0, 0, 0, 0.9);
 /*background-color: rgb(0, 71, 52);   green */
  box-shadow: -5px 5px 5px black;
  animation-name: fillin;
  animation-duration: 0.4s;
}
.topnav-scrolling a {
	color: white;
}
@keyframes fillin {
  from {opacity: 0; box-shadow: none}
  to {opacity: 0.95; box-shadow: -5px 5px 5px black}
}

#header-logo img {
  height: 10vh;
}
#nutrition-search-bar {
  border-radius: 5px;
}

/* Optimizing for mobile devices*/
@media screen and (max-width: 1020px) {
  #header-logo {
  	text-align: center;
  	font-size: calc(5vw + 15pt);
  }
  .topnav a {
    font-size: 24pt;
  }
  .topnav-scrolling .bar1, .topnav-scrolling .bar2, .topnav-scrolling .bar3 {
  	background-color: white;
  }
  .right-align a {
    display: none;
  }
  .right-align {
  	margin-top: 0;
  }
  .responsive {
    position: fixed;
    width: 100%;
  }
  .responsive .right-align {
  	width: 100%;
  	margin: 0;
  }
  .responsive a {
    display: block;
    background-color: black;
    color: white;
    text-align: center;
  }
  .responsive a:hover {
  	border-bottom: none !important;
  	background-color: rgb(50, 50, 50);
  }
  .menu-icon {
    display: inline-block;
    cursor: pointer;
    float: right;
    margin-right: 10px;
  }
  .responsive .menu-icon {
    position: fixed;
    top: 17px;
    right: 12px;
  }
  .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: black;
      border-radius: 1px;
      margin: 6px 0;
      transition: 0.4s;
    }

    .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px);
      transform: rotate(-45deg) translate(-9px, 6px);
      background-color: white;
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-9px, -6px);
      transform: rotate(45deg) translate(-9px, -6px);
      border: none;
      background-color: white;
    }
}
</style>
<script title = "scrolling header">
window.onscroll = function() {
if(window.pageYOffset > 0) {
  document.getElementsByClassName("topnav")[0].classList.add("topnav-scrolling");
} else {
  document.getElementsByClassName("topnav-scrolling")[0].classList.remove("topnav-scrolling");
}
}
function openMenu(x) {
  x.classList.toggle("change");
  if(x.parentNode.parentNode.classList.contains("responsive")) {
    x.parentNode.parentNode.classList.remove("responsive");
  } else {
    x.parentNode.parentNode.classList.add("responsive");
  }
}
/**    JAVASCRIPT SO THE SEARCHBAR SUBMITS ON ENTER AND GOES TO NUTRITION CALCULATOR
document.getElementById("nutrition-search-bar").addEventListener("keyup", function(e) {
  e.preventDefault();
  if(e.keyCode == 13) {
    if(this.value != "") {
console.log("test");
      open("nutrition-calculator.php?q=" + this.value, "_self");
    }
  }
});**/
</script>
